*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: antiquewhite;
}

div{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 5px solid;
    text-align: center;
    font-size: 30px;
    border-radius: 6px;
    width: fit-content;
}

.heading{
    width: fit-content;
    border-color: black;
    background-color: aquamarine;   
}

.recipe{ 
    width: fit-content;
    background-color: white;
}

.recipe a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.recipe a:hover {
    color: rgb(255, 130, 130);
}

.images{
    width: 23em;
    background-color: white;
}

.button{
    font-size: 50px;
}

.lists{
    width: fit-content;
    background-color: white;
    list-style-position: inside;
    text-align: left;
    align-content: center;
}

.hotc{
    width: 12em ;
    background-color: white;
}

.cheese{
    width: fit-content ;
    background-color: white;
}