*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: antiquewhite;
    min-width: 1000px;
}



div{
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    padding: 1.2em;
    border: 0.2em solid;
    text-align: center;
    font-size: 1.6em;
    border-radius: 0.3em;
    
}

.heading{
    width: fit-content;
    border-color: black;
    background-color: aquamarine;   
}

.recipe{ 
    width: fit-content;
    background-color: white;
}

.recipe a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.recipe a:hover {
    color: rgb(255, 130, 130);
}

.images{
    width: 26em;
    background-color: white;
}

.lists{
    width: fit-content;
    background-color: white;
    list-style-position: inside;
    text-align: left;
    align-content: center;
}

.hotc{
    width: fit-content;
    background-color: white;
}

.cheese{
    width: fit-content ;
    background-color: white;
}

.chop{
    width: fit-content;
    background-color: white;
}